@using Fragment.Generic.App.Helpers
@using Microsoft.Extensions.Options
@inject IOptions<AppStaticRoutes> AppStaticRoutes
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fragment.Generic.App</title>
    <link rel="stylesheet" href="integration/styles.css" o/>
</head>
<body>
    <nav class="ui-menubar ui-widget ui-widget-content ui-corner-all">
        <ul class="ui-menubar-root-list">
            @foreach (Link link in AppStaticRoutes.Value.Links)
            {
                <li class="ui-menuitem ui-corner-all">
                    <a class="ui-menuitem-link ui-corner-all"
                       target=@link.Target
                       href=@link.Href>
                        <span class="ui-menuitem-text">@link.Name</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
    @RenderBody()
</body>
</html>
